<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heading</title>

    <style>
    
    .footer {
        position: relative;
        top: 250px;
        left: 43%;
    }

    </style>
</head>
<body>

    <h1 class="footer">Contact us at </h1>
    
</body>
</html>