<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
      <%- include("partials/template.ejs") %>
</head>
<body>
  <style>
.title {
position: absolute;
top: 5px;
left: 500px;


}



</style>
    <h1 class="title">Appointment Booking</h1>
</body>
</html>