<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/template.ejs") %>
</head>
<body>
<style>
.title {
position: absolute;
top: 5px;
left: 500px;


}



</style>
<h1 class="title">This is your personal Laboratory</h1>

<div class="appointment">Test History</div>
<div class="Laboratory">Book A Lab Test</div>
<div class="Insurance">Search Laboratory</div>

    
</body>
</html>