 <label for="time">Enter time (HH:MM):</label>
  <input type="text" id="time" name="time" placeholder="HH:MM" maxlength="5" inputmode="numeric"
   autocomplete="off" oninput="formatTimeInput(this)"
    onkeydown="preventColonAndNonDigits(event)"
    required
  >




  <label for="date">Selected Date</label>
      <input type="date" id="date" name="appointmentDate" required>


        <label>Select Date</label>
      <input type="tel" id="phone" name="appointmentDate" >